* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
}

.container {
    padding-top: 0px;
    position: relative;
}

.head-bg {
    display: flex;
    height: 744px;
}

.head-bg-left {
    width: 60%;
    background-color: #f9f1e7;
}

.head-bg-right {
    width: 40%;
    background-color: #fcf8f3;
}

.head-info {
    position: absolute;
    padding: 50px;
    width: 494px;
    height: 553px;
    left: 100px;
    top: 90px;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);
    z-index: 1;
}

.head-info-title {
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 120%;
    color: #3A3A3A;
}

.head-information {
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 150%;
    color: #898989;
    margin-top: 5%;
}

.head-info-button {
    width: 374px;
    height: 78px;
    left: 160px;
    top: 556px;
    background: #E89F71;
    margin-top: 10%;
}

.head-info-bt {
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 150%;
    color: #ffff;
    text-align: center;
    padding-top: 5%;
}

.head-info-button:hover {
    cursor: pointer;
}

.slider {
    position: absolute;
    top: -593px;
    align-items: center;
}

.slider__item {
    margin-right: 20px;
}

.item-info {
    position: absolute;
    width: 294px;
    height: 148px;
    top: 370px;
    left: -10px;
    padding: 15px 20px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);
}

.item-info-title,
.item-info-price {
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    color: hsl(0, 0%, 23%);
    padding: 5px 0;
}

.item-info-price {
    font-size: 20px;
}

.item-info-txt {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #616161;
    padding: 5px 0;
}

.item-info-img {
    position: absolute;
    left: 245px;
    width: 22px;
    top: 110px;
}

.slick-arrow {
    color: #ffff;
    font-size: 40px;
    position: absolute;
    top: -10%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    z-index: 10;
    font-size: 0;
    border: none;
    color: transparent;
    border-radius: 50px;
    cursor: pointer;
    background: none;
    outline: none;
    transition: 0.2s;
    padding: 25px;
    background-color: #f5d5c1;
}

.slick-arrow:hover {
    background-color: #E89F71;
}

.slick-prev {
    left: 85%;
}

.slick-prev::before {
    position: absolute;
    content: "<";
    color: #e89f71;
    font-size: 30px;
    position: absolute;
    left: 15px;
    top: 8px;
    font-weight: 100;
}

.slick-prev:hover:before {
    color: #fcf8f3;
}

.slick-next {
    right: 5%;
}

.slick-next::before {
    position: absolute;
    content: ">";
    color: #e89f71;
    font-size: 30px;
    position: absolute;
    left: 19px;
    top: 8px;
    font-weight: 100;
}

.slick-next:hover:before {
    color: #fcf8f3;
}

.slick-dots button {
    width: 20px;
    height: 20px;
    background-color: #d8d8d8;
    border-radius: 50%;
    font-size: 0;
    border: none;
}

.slick-dots {
    position: absolute;
    display: flex;
    width: 200px;
    height: 60px;
    top: -15%;
    left: 670px;
    font-size: 0;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

button:hover {
    cursor: pointer;
    background-color: #E89F71;
}

li:hover {
    border: 2px solid #E89F71;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

@media(max-width:1200px) {
    .slick-dots {
        top: 570px;
        left: 36%;
        width: 300px;
    }
    .slick-arrow {
        top: 600px;
    }
    .slick-prev {
        left: 30%;
    }
    .slick-next {
        left: 64%;
    }
}

@media(max-width:1000px) {
    .slick-dots {
        top: 570px;
        left: 36%;
        width: 100px;
    }
    .slick-arrow {
        top: 600px;
    }
    .slick-prev {
        left: 30%;
    }
    .slick-next {
        left: 64%;
    }
}